extends layoutrecords

block content
  center
    h1= title
    p Welcome to our Records Engine

  // Wrapper
  // #recordsWrapper
  
  #leftpart

    // RECORD FORM
    h1 Fields

    #recordsSearch
      table
        tbody
          tr
            td
              span.label Style:
            td
              select#selectStyle
                option(value=1) Soul / Funk
                option(value=2) Rap
                option(value=3) Jazz
                option(value=4) Soundtracks
                option(value=6) AOR
                option(value=5) Misc.
          tr
            td
              span.label Artist or Group:
            td
              input#inputGroupName(type='text', placeholder='Groupname')
          tr
            td
              span.label Title:
            td
              input#inputTitle(type='text', placeholder='Title')
          tr
            td
              span.label Format:
            td
              input#inputFormat(type='text', placeholder='Format')
          tr
            td
              span.label Label:
            td
              input#inputLabel(type='text', placeholder='Label')
          tr
            td
              span.label Country:
            td
              input#inputCountry(type='text', placeholder='Country')
          tr
            td
              span.label Year:
            td
              input#inputYear(type='text', placeholder='Year')
          tr
            td
              span.label Period:
            td
              input#inputPeriod(type='text', placeholder='Period')
          tr
            td
              span.label
          tr
            td
              button#btnRecordsSearch Search
            td
              select#selectSort
                option(value=1) Sort by Artist (asc)
                option(value=2) Sort by Artist (desc)
                option(value=3) Sort by Year (asc)
                option(value=4) Sort by Year (desc)
                option(value=5) Sort by Title (asc)
                option(value=6) Sort by Title (desc)
          tr
            td
              button#btnRecordsSave Save
            td
              button#btnRecordsResetInputFields Reset
    // /RECORD FORM

    #recordsNumberOfResults
      p

    form#recordsUploadForm(method='post', enctype='multipart/form-data')
      table
        tbody
          tr
            td
              input#inputCoverFile(type='file', name='imageupload')
            td
              button#btnUploadCover Upload Image

  #rightpart

    // Records
    h1 Records

    #recordsList
      table
        thead
          th #
          th Artist or Group
          th Title
          th Format
          th Label
          th Country
          th Reference
          th Year
          th Period
          th Comments
          th Cover
          th Delete?
        tbody
    // /Records

  // /WRAPPER